main {
    height: 100vh;
    width: auto;
    display: grid;
    place-items: center;
}

article {
    height: 700px;
    width: 500px;
    box-shadow: 5px 0px 10px black;
    display: grid;
    place-items: center;
    padding: 25px;
}

.img {
    height: 400px;
    width: auto;
}

.btn {
    margin: 0px 50px 0px 50px;
}